* {
    background-color: bisque;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-right: 10px;
}

header {
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;

}