* {
    background-color: bisque;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-right: 10px;
}

#start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#startBtn {
    display: flex;
    justify-content: center;
}

.options {
    display: flex;
    flex-direction: column;
    line-height: 15px;
    margin: 3px;
}

#highscores {
    text-align: center;
}